.body-container {
    min-height: calc(100vh - 60px);
    padding: 10px 10px 10px 10px;
    overflow-x: hidden;
    background-color: #f8f9ff;
}

.router-content {
    width: 100%;
    height: 100%;
}