* {
    color: #444444;
    ;
}


.offcanvas-header{
    h2{
        margin: 0;
    }
}
.bi,
.offcanvas-title {
    cursor: pointer;
}
.offcanvas-body{
    overflow: auto;
}

.card-body {
    background: #F9F9F9;
    border: 1px solid #ECECEC
}