name: achieve-ui-cicd 

on:
  push:
    branches: [development, dev, check_branch, test/ci_cd]
  pull_request:
    branches: [development, dev, check_branch, test/ci_cd] 

jobs:
  build:
    name: Build Angular Project
    runs-on: self-hosted


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: testing changes check
        run: |
          dir

      - name: Install dependencies
        run: node -v
         
         

      - name: Install Angular CLI
        run: |
           npm i -f
           npm install -g @angular/cli
           # # Remove-Item -Path "C:\testdemo" -Recurse -Force
           # Copy-Item -Path "dist/achieve-ui/browser/*" -Destination "C:/testdemo" -Recurse -Force
           # Copy-Item -Path "dist/achieve-ui/3rdpartylicenses.txt" -Destination "C:/testdemo" -Force
       
      - name: Building project
        run: |
            ng build

      - name: copying from dist to IIS folder
        run: |      
            # Remove-Item -Path "C:\testdemo" -Recurse -Force 
            Get-ChildItem -Path "C:\testdemo" | Remove-Item -Recurse -Force
            Copy-Item -Path "dist/achieve-ui/browser/*" -Destination "C:/testdemo" -Recurse -Force
            Copy-Item -Path "dist/achieve-ui/3rdpartylicenses.txt" -Destination "C:/testdemo" -Force






        
